{% extends "base.html" %}


{% block content %}

  <div class="btn-group-sm">

    {% for cate in categories %}

    <a href="{% url 'food:category-datail' cate.id %}" class="btn  btn-info">


      {{cate.name}}

    </a>
    {% endfor %}

  </div>




<div class="card" >
  <div class="card-title">
    <h5>
      {{ object.name }}

    </h5>
  </div>
  {% for ing in ings %}

  <a href="{% url 'food:ingredient-edit' ing.id %}"> {{ing}}  - {{ing.stock.quantity_as_float }} </a>

  {% if ing.active %}
  <a class='info' href="{% url 'food:ingredient-make-inactive' ing.id %}">make inactive</a>
  {% else %}
    <a href="{% url 'food:ingredient-make-active' ing.id %}">make active</a>
  {% endif %}

  <hr>


  {% endfor %}
</div>
  {% endblock content %}
