{% extends "base.html" %}
{% load static %}
{% block title %}Ingredients - main page {% endblock %}
{% block content %}


<div class ='row'>
  <div class="col-md-3">
    <div id="sideBar">
      {% include 'food/partials/ingredient_side_nav.html' %}

    </div>
  </div>
</div>
<div class ='row'>
  <div class="col-md-3">
    {% include 'food/partials/categorylist.html' %}
  </div>
  <div class="col-md-9 ">
    <div id="searchResult">
      {% include 'food/partials/ingredient-list.html' %}
    </div>
  </div>
</div>











{% endblock %}
