{% extends "base.html" %}
{% load static %}
{% block title %}My f{% endblock %}
{% block content %}
<div class="card">
  <a href="{% url 'food:ingredients' %}" class="btn btn-primary">Ingredients</a>
  <a href="{% url 'food:ingredient-active-list' %}" class="btn btn-info">Must Have Ingredients</a>
  <a href="{% url 'food:ingredient-create' %}" class="btn btn-warning">New Ingredient</a>
</div>


<div class="row">
  <div class="col-sm-3">
    <ul>

      {% for cate in categories %}
  <li>
    <a href="{% url 'food:category-datail' cate.id %}" class="warning">

      {{cate.name}}

    </a>

  </li>



      {% endfor %}


    </ul>
  </div>
  <div class="col">

    <div id="ingredients_result">
      <h2>ing resulr</h2>


      {% for ing in ingredients %}

      <a href="{% url 'food:ingredient-edit' ing.id %}"> {{ing}}  - {{ing.stock.quantity_as_float }} </a>

      {% if ing.active %}
      <a class='info' href="{% url 'food:ingredient-make-inactive' ing.id %}">make inactive</a>
      {% else %}
      <a href="{% url 'food:ingredient-make-active' ing.id %}">make active</a>
      {% endif %}
      <br>
      {% endfor %}
      <hr>




    </div>

  </div>
</div>




{% endblock %}
