
{% extends 'base.html' %}

{% block content %}
<div class="align-center col-10 offset-1">
    <div class="d-flex justify-content-between align-items-center">
        <p class="lead ml-0">My Ingredients</p>

        <form class="d-flex align-items-center">
            {% csrf_token %}
            <input type="text" name="ingname" class="form-control-sm mr-2" placeholder="Enter an ingredient" />

            <button hx-post="{% url 'food:add-ing'  %}" hx-target='#ingredient-list'  type="submit" class="btn btn-success btn-sm">Add Ingredient</button>
        </form>
    </div>
    <hr/>

    <div id="ingredient-list">
        {% include 'food/partials/ingredient-list.html' %}
    </div>
</div>
{% endblock content %}
