.my-container{padding: 5px;}

.intro {
    background-color: darkkhaki;
}
.hidden {
    display: none;

}

.spacingbutt{
    margin: 4px;

}

.ingredient-form {
    border-bottom: 1px solid crimson;

}

.manin{
    background-color: darkkhaki;
    margin: auto;
    border-bottom: 1px solid crimson;
}
.login-form{
    background-color: lavender;
    padding: 5px;
    border: 3px solid crimson;

}

.mt-num{
    width: 100px;
    border-bottom: 1px solid crimson;
    color: darkkhaki;
}

.success{

    color: green;
    transition: all ease-in 2s;
}
.error{

    color: red;
    transition: all ease-in 2s;
}
