{% extends "base.html" %}{% load static %}



{% block content %}

{% if message %}
<p>{{message}}</p>
{% endif %}

<div style="margin-top: 30px">
    <form action="." method="POST" >
        {% csrf_token %}
        {{form.as_p}}

<!--        {% if formset %}-->
            <H4>Ingredients</H4>
            {{formset.management_form}}
            <div id="ingredient-form-list">
                {% for form2 in formset %}
                <div class="ingredient-form">
                    {{form2.as_p}}
                </div>
                {% endfor  %}
            </div>



            <div id='empty-form' class="hidden" >
                {{ formset.empty_form }}
            </div>
            <button id='add-more' type="button" class="btn btn-small btn-default ">Add More</button>
<!--        {% endif %}-->

        </br>
        <div class="float-right">
            <div class="btn-group  " style="margin-top: 10px; margin-right: 0px;">
                <a href="{% url 'recipes:recipes-list'  %}" class="btn btn-info" >
                    Cancel
                </a>
                <button class="btn btn-success"  type="submit">
                    Save Recipe
                </button>
            </div>
        </div>






    </form>

</div>

<script            src="https://code.jquery.com/jquery-3.6.0.min.js"
                   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                   crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>



<script >

    document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more') {
            add_new_form(event)
        }
    })
    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        const currentFormCount = currentIngredientForms.length // + 1
        const formCopyTarget = document.getElementById('ingredient-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'ingredient-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
    }

</script>
{% endblock content %}



