{% extends "base.html" %}
{% load static %}
{% block title %}My f{% endblock %}
{% block content %}

<H1>My Recipes </H1>

    <a  href="{% url 'recipes:recipes-create' %}">Create</a>


<ul>
    {% for x in object_list %}
        {% if   x.name %}
            {% if x.active %}
            <li> <strong> <a  href='{{ x.get_absolute_url }}'>{{ x.name }}</a> </strong>  </li>

            {% else %}
                <li>  <a  href='{{ x.get_absolute_url }}'>{{ x.name }}</a> </li>
            {% endif %}

        {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
